doctype html
html(lang="en")
  head
    title= grind
    link(rel='stylesheet', href='bower_components/skeleton/css/skeleton.css')
    link(rel='stylesheet', href='css/style.css')
  body
    #container

    script(src='bower_components/react/react.js')
    script(src='bundle.js')